aniso8601==7.0.0
appdirs==1.4.3
asgiref==3.2.10
autopep8==1.5.4
CacheControl==0.12.6
certifi==2019.11.28
cffi==1.14.2
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0
cryptg==0.2.post1
distlib==0.3.0
distro==1.4.0
dj-database-url==0.5.0
Django==3.0.9
django-ckeditor==6.0.0
django-classy-tags==1.0.0
django-cms==3.7.4
django-cors-headers==3.4.0
django-crispy-forms==1.9.2
django-filer==1.7.1
django-filter==2.3.0
django-formtools==2.2
django-graphql-jwt==0.3.1
django-js-asset==1.2.2
django-mptt==0.11.0
django-polymorphic==2.1.2
django-sekizai==1.1.0
django-taggit==1.3.0
django-treebeard==4.3.1
djangocms-admin-style==1.5.0
djangocms-attributes-field==1.2.0
djangocms-bootstrap4==1.6.0
djangocms-file==2.4.0
djangocms-googlemap==1.4.0
djangocms-icon==1.5.0
djangocms-installer==1.2.3
djangocms-link==2.6.1
djangocms-picture==2.4.0
djangocms-snippet==2.3.0
djangocms-style==2.3.0
djangocms-text-ckeditor==3.10.0
djangocms-video==2.3.0
easy-thumbnails==2.7
filelock==3.0.12
graphene==2.1.8
graphene-django==2.13.0
graphene-file-upload==1.2.2
graphql-core==2.3.2
graphql-relay==2.0.1
html5lib==1.1
idna==2.8
ipaddr==2.2.0
lockfile==0.12.2
msgpack==0.6.2
packaging==20.3
pep517==0.8.2
Pillow==7.2.0
pipenv==2020.8.13
progress==1.5
promise==2.3
psycopg2-binary==2.8.5
pyaes==1.6.1
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
PyJWT==1.7.1
pyparsing==2.4.7
Pyrogram==0.18.0
PySocks==1.7.1
pytoml==0.1.21
pytz==2020.1
requests==2.22.0
retrying==1.3.3
rsa==4.6
Rx==1.6.1
schedule==0.6.0
sentry-sdk==0.17.3
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.3.1
Telethon==1.16.4
TgCrypto==1.2.1
toml==0.10.1
tzlocal==2.1
Unidecode==1.1.1
urllib3==1.25.8
virtualenv==20.0.31
virtualenv-clone==0.5.4
webencodings==0.5.1
